


/*  NEW STYLES */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background:url(https://media.giphy.com/media/XG9PR7CuOfPlS/giphy.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu{
	list-style: none;
	color: red;   
	position: absolute;
    margin-top: 301px;
    font-size: 90px;
}	

#start{
	border: 3px solid white;
    border-bottom-left-radius: 100px;
    text-align: center;
    border-top-right-radius: 87px;
    color: #dee7ec;
    background-color: #2b3c43;
    font-family: fantasy;
}

#instruct{
    color: rgba(226, 235, 239, 0.96);
    background-color: #738c93;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 74px;
    font-family: fantasy;
    border: 5px solid white;
    margin-top: 38px;
}


#tryAgain{
	width: 202px;
    list-style: none;
    font-size: 50px;
    display: none; 
    text-align: center;
    margin-top: 167px;
    font-family: fantasy;
    background-color: rgba(255, 0, 0, 0.51);
    color: rgb(254, 251, 250);
        position: absolute;
}

#next{
	border: 2px solid #29e8e1;
	float: right;
	font-size: 40px;
	display; visibility: hidden; 
}

.wrap {
	position: relative;
	border: 5px solid black;
	height: 505px;
	width: 505px;
	margin-top: 80px;
	background-color: white;
	display: none;
}


.block-container {
	/*height: 120px;
	width: 120px;*/
	width: 500px;
	height: 125px;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	height: 125px;
	width: 125px;
	border: 1px solid red;
	font-size: 20px;
	color: red;
}

.black {
	background-color: black;

}

#startButton{
	color: red;
}
.exit{
	background-color: green;
	color: white;
}


#level2{
    position: relative;
    border: 5px solid black;
    height: auto;
    width: auto;
    margin-top: 80px;
    background-color: white;
    margin-bottom: 100px;
    display: none;
}





