


/*  NEW STYLES */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background:url(https://slproductions.files.wordpress.com/2014/11/labyrinth-wallpaper-1-1024x768.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	    /* The image used */

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
	list-style: none;
	color: red;   
	position: absolute;
    margin-top: 171px;
    font-size: 90px;
}	

#start{
	border: 3px solid white;
    border-bottom-left-radius: 100px;
    text-align: center;
    border-top-right-radius: 87px;
    color: #dee7ec;
    background-color: #2b3c43;
    font-family: fantasy;
}

#instruct{
    color: rgba(226, 235, 239, 0.96);
    background-color: #738c93;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 74px;
    font-family: fantasy;
    border: 5px solid white;
    margin-top: 38px;
}

.instrPage{
	border: 7px solid #7a9296;
    width: 781px;
    display: inline-block;
    font-size: 45px;
    font-family: fantasy;
    color: #275627;
    font-style: oblique;
    background-color: rgba(195, 215, 216, 0.44);
    display: none;

}

#tryAgain{
	width: 202px;
    list-style: none;
    font-size: 50px;
    display: none; 
    text-align: center;
    margin-top: -100px;
    font-family: fantasy;
    background-color: rgba(255, 0, 0, 0.51);
    color: rgb(254, 251, 250);
    position: absolute;
    z-index: 100;
}

#next{
	border: 15px solid white;
    float: right;
    font-size: 40px;
    visibility: hidden;
    margin-top: 271px;
    font-size: 118px;
    color: #6b858d;
    border-right-color: blue;
    border-bottom-color: darkred;
    border-top-color: darkred;
    border-left-color: blue;
    background-color: white;


}

.wrap {
	position: relative;
	border: 5px solid #45626a;
	height: 505px;
	width: 505px;
	margin-top: 80px;
	background-color: #2b3b3b;
	display: none;
	background:url(https://media.giphy.com/media/XG9PR7CuOfPlS/giphy.gif);
}

h1{
	font-size: 66px;
	color: white;
}

.block-container {
	/*height: 120px;
	width: 120px;*/
	width: 500px;
	height: 125px;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	height: 125px;
	width: 125px;
	/*border: 1px solid red;*/
	font-size: 20px;
	color: red;
}

#here{
	text-align: center;   
	margin-bottom: -43px;
    font-size: 26px;
}

.black {
	background: url(http://media.builderdepot.co.uk/media/product/e3b/class-a-solid-engineering-brick-blue-29e.jpg);

}


.startButton{
	color: white;
}


.startButton2{
	font-size: 25px;
	color:white;
}
.exit{
	background-color: green;
	color: white;
	text-align: center;
	font-size: 45px;
}


#level2{
    position: relative;
    border: 5px solid black;
    height: auto;
    width: auto;
    margin-top: 80px;
    background-color: white;
    margin-bottom: 100px;
    display: none;
}

#time{
	border: solid black;
    font-size: 45px;
    background-color: aqua;
    visibility: hidden;


}

@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(10deg); }
  20%  { -webkit-transform:  rotate(18deg); }
  50%  { -webkit-transform:  rotate(-18deg); }
  100%  { -webkit-transform:  rotate(10deg); }
}
.wobble { -webkit-animation: wobble 8s infinite; }

.exit2{
	font-size: 20px
	color:white
	;
}

